.reviews {
  padding-bottom: 48px;
  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: $black-color;
    padding-bottom: 60px;
  }
  &__items {
    display: flex;
    align-items: flex-start;
    padding-bottom: 60px;
  }
  &__text {
    min-width: 680px;
    padding-left: 60px;
  }
  &__name {
    font-weight: 700;
    font-size: 18px;
    color: $black-color;
  }
  &__subname {
    font-weight: 500;
    font-size: 14px;
    color: #646464;
    padding-bottom: 10px;
  }
  &__subtitle {
    font-weight: 300;
    font-size: 16px;
    color: $black-color;
  }
}
